#mainHeaderContainer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#mainHeaderLeftContainer{
    display: flex;
}

.mainHeaderLink{
    color: 'white';
    padding: 15px 50px;
    text-decoration: none;
}

.mainHeaderLink:hover{
    cursor: pointer;
    background-color: grey;
}

.mainHeaderActiveLink{
    color: 'black';
    background-color: white;
}