#subHeaderContainer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    margin: 0 50px;
}

#subHeaderLeftContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.subHeaderLink{
    margin-right: 30px;
    text-decoration: none;
}

.subHeaderLink:hover{
    cursor: pointer;
}

.hoveredLink{
    display: inline !important;
    animation-name: increaseBorderWidth;
    animation-fill-mode: forwards;
}

.unHoveredLink{
    display: inline !important;
    animation-name: decreaseBorderWidth;
}

.subHeaderLinkContainer{
    color: black;
    padding: 25px 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeaderFirstLinkContainer{
    font-size: 60px;
    font-weight: 500;
    padding: 0;
    margin: 10px 0;
}

#subHeaderRightContainer{
    display: flex;
    justify-content: center;
}

.subHeaderActiveLinkBorder{
    display: none;
    height: 3px;
    margin-top: 4px;
    background-color: black;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

.subHeaderIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.subHeaderIconContainer:hover{
    cursor: pointer;
}

.subHeaderLastIconContainer{
    padding-right: 0;
}

.subHeaderIcon{
    font-size: 23px;
    color: grey;
}

.subHeaderIconContainer:hover .subHeaderIcon{
    color: black;
}


@keyframes increaseBorderWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes decreaseBorderWidth {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}